/*CSS document*/

body {
    background-color: #EFE9E7;
    /* background-color: red; */
}

header{
    background-color:  #F7F4F3;
    position: fixed;
    width: 100%;
    top: 0em;
    left: 0em;
    padding-left: 2em;
    border-bottom: 1px solid #B5B5B5;
    box-shadow: 0px 2px 4px #7d7d7d(0, 0, 0, 0.1);
    z-index: 2;
}

aside{
    margin-top: 12em;
}


main{
    margin-top: 12em;
}

div.container {
    max-width: 80em;
    margin: auto;
    background-color: #EFE9E7;
    /* background-color: red; */
}


section{
    max-width: 40em;
    margin: 0 auto; 
}

h1 {
    max-width: 5em;
}

figure {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0em;
}

img {
    width: 100%;
}
  
ul, ol {
    margin: 0;
    padding: 0;
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 300;
    color: #292929;
}
  
nav ul li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    padding-left: 1em;
    font-size: 15pt;
  }



p {
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: #292929;
}

a {
    text-decoration: none;
    color: #292929;
    font-family: "rift", sans-serif;
    font-weight: 200;
    font-style: normal;
}

a:hover{
    color: #CC0000;
}

h3 {
    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #BA1B1D;
    font-size: 18pt;
}

h4 {
    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #235066;
    font-size: 18pt;
}

div.newsletter h4 {
    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #235066;
    font-size: 15pt;
}


figcaption {
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-style: italic;
    font-size: 10.5pt;
    color: #7d7d7d;
    margin-bottom: 1em;
}

section.withoutimage{
    border: none;
    border-top: 1px solid #ccc;
}

footer{
    border: none;
    border-top: 1px solid #ccc;
    padding: none;
    width: 100%;
}

a.learn-more-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 0em;
    background-color: #7d7d7d; 
    color: #EFE9E7; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.learn-more-button:hover {
    background-color: #BA1B1D; 
}

section.newsletter input[type="checkbox"] {
    display: none; /* Hide the default checkboxes */
}

section.newsletter label {
    position: relative;
    padding-left: 30px; /* Adjust as needed for spacing */
    cursor: pointer;
    line-height: 20px; /* Align the checkmark vertically */
}

section.newsletter label:before {
    content: "";
    position: absolute;
    left: 0em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em; /* Adjust the size of the custom checkbox */
    height: 1em; /* Adjust the size of the custom checkbox */
    background-color: #7d7d7d; /* Color of the checkbox */
    border: 1px solid #B5B5B5; /* Border color of the checkbox */
    border-radius: 4px; /* Adjust as needed for rounded corners */
    transition: background-color 0.3s ease;
}

section.newsletter input[type="checkbox"]:checked + label:before {
    background-color: #BA1B1D; /* Color when the checkbox is checked */
}

section.newsletter input[type="checkbox"]:checked + label::after {
    opacity: 1; /* Show the checkmark when the checkbox is checked */
}

/* Optional: Add hover effect */
section.newsletter label:hover:before {
    background-color: #7d7d7d; /* Adjust color on hover */
}



@media screen and (min-width: 60em){ 
    
    div.container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 0 2em;
        max-width: 80em;
    }

    header{
        grid-column: 1/3;
        padding-bottom: 1em;
        /* background-color: red; */
    }

    main {
        grid-column:  1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 2.5em;
    }

    aside {
        padding-top: 1em;
        grid-column:  2/4;
        display: grid;
        /* background-color: yellow; */
    }

    aside.mainstory {
        padding: none;
        margin-top: 12em;
        display: flex;
        flex-direction: column;
    }

    
    aside.mainstory section {
        margin-bottom: 1em;
    }


    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
     
    section.mainstory a{
        flex: 1 0 10em;
        display: flex;
        padding-left: 1.5em;
        padding-right: 1.5em;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 5em;
    }


    section.mainstory a h3{
        flex: 0 0 auto;
        margin: 0;

    }

    section.mainstory a p{
        flex: 0 0 auto;
    }

    section.mainstory a figure img{
        height: 95%;
        object-fit: cover;
    }

    footer{
        grid-column: 1/3;
    }

    section.zucchinistory{
        grid-column: 1/4;
        display: flex;
        flex-direction: column;
        max-width: 60em;
        padding: 1em;
        padding-top: none;
    }

    section.mainstoryteaser{
        padding-top: none;
        margin: 0;
        max-width: 40em;
    }

    section.mainstory1{
        max-width: 50em;
        margin: 0;
        padding: 0;
    }


    .ingredients-instructions-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 50em;
        column-gap: 4em;
        padding-left: 2em;
    }
      
    ul, ol {
        margin: 0;
        padding: 0;
        margin: 0;
        flex: 1;
        line-height: 2em;
      }
    
    
    section.ingredients{
        padding: 0;

      }
    
    section.instruction{
        padding: 0;

    }

    section.otherveggies {
        grid-column:  1/3;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 2.5em;
        max-width: 60em;
    }


body div.photocontainer{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.photocontainer h1 {
    font-family: "scotch-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #235066;
    font-size: 18pt;
    padding-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
}


main div.photocontainer {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}


main.photogallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em);
    padding-top: 0;
    margin-top: 1em;
}

main.photogallery figure.gallery{
    margin: 0;
    position: absolute;
    max-width: 40em;
    padding: 0;
    width: calc(100%-2em);
    opacity: 0;
    transition: left 1s, opacity 0.5s;
    z-index: 0;
}

main.photogallery figcaption {
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-style: italic;
    font-size: 10.5pt;
    color: #7d7d7d;
    margin-top: 1em;
}

main.photogallery{
    display: grid;
}


input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em .5em;
}


div.newsletter h4{
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: #235066;
}

main.newsletter {
    max-width: 60em;
}

section.personal-info {
    width: 60em;
    max-width: none;
}

section.personal-info img {
   max-width: 70%;
}

section.personal-info h2 {
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: #235066;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

ul.info {
    list-style: none;
    padding: 0.5em;
}

ul.info li {
    max-width: 20em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

ul.info label {
    color: #292929;
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
}

ul.info input,
ul.info textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0em;/* Adjust margin as needed */
}

ul.info h4 {
    font-family: "effra-cc-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: #235066;
    margin-bottom: 0.5em; 
}

section.method {
    max-width: none;
    display: block;
    padding: 0em;
    padding-bottom: 1em;
}

section.method textarea {
    width: 100%;
}

section.method button {
    padding: 0.5em 1em;
    background-color: #BA1B1D;
    color: #EFE9E7;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section.method button:hover {
    background-color: #CC0000;
}

div.photocontainer input {
    display: none;
}

section.morepizza{
    padding: 0;
    margin: 0;
    padding-bottom: 2em;
    padding-left: 1em;
    border-top: 1px solid #ccc;
    width: 100%; /* Adjust the width as needed */
    display: grid;
    grid-template-columns: 3/4;
}

main div.photocontainer{
        grid-column:  1/3;
        display: grid;
        max-width: 40em;
        padding-bottom: 2em;
}


section.personal-info img {
    width: 100%;
}

section.personal-info h2 {
    max-width: none;
    font-family: "scotch-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #235066;
    font-size: 18pt; 

}

main.eggs {
    padding: 0em; /* Reset padding */
    padding-left: 1.5em;
    margin: 0; /* Reset margin */
    display: grid;
}

.more {
    grid-column: 1/3; /* Span across both columns */
    margin-top: 2em; /* Push the section to the bottom */
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    margin-bottom: 2em;

}

.more figure {
    max-width: 100%;
}

.eggstory {
    flex: 1; /* Takes up remaining space */
    margin: 0; /* Reset margin */
}

.eggstory h3 {
    margin-bottom: 0.5em; /* Adjust margin as needed */
}

.eggstory p {
    margin: 0; /* Reset margin */
}

textarea {
    height: 10em; /* Increase the height of the textarea */
}

section.newsletter{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

main.clean{
    display: block;
    max-width: 60em;
}

aside.care{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

body.cleany{
    max-width: 75em;
    padding-left: 5em;
}

 /* Dark Mode */
 @media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #292929;
    }
    
    div.container {
        background-color: #292929;
    }

    header{
        background-color: #121212;
    }

    ul, ol {
        color: #B5B5B5;
    }
    p {
        color: #B5B5B5;
    }
    
    a {
        color: #B5B5B5;
    }
    
    a:hover{
        color: #D93333;
    }
    
    h3 {
        color: #3D8CB2;
    }
    
    section.personal-info h2{
        color: #3D8CB2;
    }

    ul.info h4 {
        color: #3D8CB2;
    }

    section.method h4{
        color: #3D8CB2;
    }
    
    ul.info label {
        color: #B5B5B5;
    }

    h4 {
        color: #D93333;
    }
    
    figcaption {
        color: #7d7d7d;
    }
    
    section.withoutimage{
        border-top: 1px solid #7d7d7d;
    }
    
    footer{
        border-top: 1px solid #7d7d7d;
    }
    
    h1{
        background-image: url("logoalt.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    h1 img{
        opacity: 0;
    }

}

